<h1>タすク一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>締め切り</th>
  </tr> 

<% @tasks.each do |task| %>
  <tr class = 'task_row'>
    <td><%= task.id %></td>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline %></td>

    <td><%= link_to '詳細を確認する', task_path(task.id), id: "task-show-#{task.id}" %></td>
    <td><%= link_to 'タスクを編集する', edit_task_path(task.id) %></td>
    <td><%= link_to 'タスクを削除する', task_path(task.id), method: :delete %></td>
  </tr>
<% end %>
</table>  

<br>

<%= link_to '新しくタスクを登録する', new_task_path %>
<%= link_to "終了期限でソートする",tasks_path(sort_expired: "true")%>